@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "daisyui" {
  themes: light --default;
}

/* HTML: <div class="inverted-radius"></div> */
.inverted-radius_tl {
  --r: 12px; /* the radius */
  --s: 12px; /* size of inner curve */
  --x: 60px; /* horizontal offset (no percentage) */
  --y: 13px; /* vertical offset (no percentage) */
  
  /* width: 250px; */
  /* aspect-ratio: 1; */
  /* background: #3FB8AF; */
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(at var(--r) var(--r),#000 75%,#0000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(var(--_d) + var(--x)) 0 var(--_m),
    0 calc(var(--_d) + var(--y)) var(--_m),
    radial-gradient(var(--s) at 0 0,#0000 99%,#000 calc(100% + 1px)) 
     calc(var(--r) + var(--x)) calc(var(--r) + var(--y)),
    var(--_g) calc(var(--_d) + var(--x)) 0,
    var(--_g) 0 calc(var(--_d) + var(--y));
  mask-repeat: no-repeat;
}

/* HTML: <div class="inverted-radius"></div> */
.inverted-radius_br {
  --r: 12px; /* the radius */
  --s: 12px; /* size of inner curve */
  --x: 70px; /* horizontal offset (no percentane) */
  --y: 18px; /* vertical offset (no percentage) */
  
  /* width: 250px; */
  /* aspect-ratio: 1; */
  /* background: #3FB8AF; */
  border-radius: var(--r);
  --_m:/calc(2*var(--r)) calc(2*var(--r)) radial-gradient(#000 70%,#0000 72%);
  --_g:conic-gradient(from 90deg at calc(100% - var(--r)) calc(100% - var(--r)),#0000 25%,#000 0);
  --_d:(var(--s) + var(--r));
  mask:
    calc(100% - var(--_d) - var(--x)) 100% var(--_m),
    100% calc(100% - var(--_d) - var(--y)) var(--_m),
    radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 calc(100% + 1px)) 
     calc(-1*var(--r) - var(--x)) calc(-1*var(--r) - var(--y)),
    var(--_g) calc(-1*var(--_d) - var(--x)) 0,
    var(--_g) 0 calc(-1*var(--_d) - var(--y));
  mask-repeat: no-repeat;
}
/* 
@plugin "daisyui/theme" {
  name: "workshop-order-theme";
  default: true;
  color-scheme: light;

  --color-primary: #485253;
  --color-primary-content: #FFFFFF;
  --color-secondary: #7D837F;
  --color-secondary-content: #FFFFFF;
  --color-accent: #CBA68B;
  --color-accent-content: #FFFFFF;
  --color-neutral: #FCFCFA;
  --color-neutral-content: #000000;
  --color-base-100: #FFFFFF;
  --color-base-200: #F5F7FA;
  --color-base-300: #E9EAF0;
  --color-base-content: #000000;

  --color-error: #E34444;
  --color-error-content: #FFFFFF;
  --color-success: #23BD33;
  --color-success-content: #FFFFFF;

  --radius-btn: 1rem;
  --radius-field: 0rem;
  --radius-box: 1rem;

  --size-btn: 2rem;
  --size-field: 0.3rem;

  --border: 1px;

  --depth: 0;
  --noise: 0;
} */

/*
--color-primary: #5D5FEF;
--color-primary-content: #FFFFFF;
--color-secondary: #FC7D4C;
--color-secondary-content: #FFFFFF;
--color-accent: #884DFF;
--color-accent-content: #FFFFFF;
--color-neutral: #FCFCFA;
--color-neutral-content: #000000;

--color-green: #3CD856;
--color-green-shade: #E2FFF3;

--color-yellow: #FFA412;
--color-yellow-shade: #FEF6E6;

--color-violet: #A700FF;
--color-violet-shade: #FBF1FF;

--color-neutral: #FF74C4;
--color-neutral-shade: #FFF1FE;

--color-base-100: #FFFFFF;
--color-base-200: #F5F7FA;
--color-base-300: #E9EAF0;
--color-base-content: #000000;

// State Colors
--color-info: #2F80ED;
--color-success: #27AE60;
--color-warning: #EFBE27 ;
--color-error: #EB5757;

*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning) ;
  --color-error: var(--error);
}

/* :root {
  --radius: 0.625rem;
  --background: #FCFCFA;
  --foreground: #485253;
  --card: #FFFFFF;
  --card-foreground: #485253;
  --popover: #FFFFFF;
  --popover-foreground: #485253;
  --primary: #485253;
  --primary-foreground: #FCFCFA;
  --secondary: #7D837F;
  --secondary-foreground: #FCFCFA;
  --muted: #7D837F;
  --muted-foreground: #FCFCFA;
  --accent: #CBA68B;
  --accent-foreground: #FCFCFA;
  --destructive: #E34444;
  --border: #E0E0E0;
  --input: #E0E0E0;
  --ring: #CBA68B;
  --chart-1: #485253;
  --chart-2: #7D837F;
  --chart-3: #CBA68B;
  --chart-4: #FCFCFA;
  --chart-5: #A0A5A2;
  --sidebar: #FCFCFA;
  --sidebar-foreground: #485253;
  --sidebar-primary: #485253;
  --sidebar-primary-foreground: #FCFCFA;
  --sidebar-accent: #CBA68B;
  --sidebar-accent-foreground: #FCFCFA;
  --sidebar-border: #E0E0E0;
  --sidebar-ring: #CBA68B;
} */

:root {
  --radius: 0.625rem;

  --background: #FCFCFA;
  --foreground: #000000;

  --card: #FFFFFF;
  --card-foreground: #000000;

  --popover: #FFFFFF;
  --popover-foreground: #000000;

  --primary: #5D5FEF;
  --primary-foreground: #FFFFFF;

  --secondary: #FC7D4C;
  --secondary-foreground: #FFFFFF;

  --muted: #E9EAF0;
  --muted-foreground: #000000;

  --accent: #884DFF;
  --accent-foreground: #FFFFFF;

  --destructive: #EB5757;
  --destructive-foreground: #FFFFFF;

  --border: #E9EAF0;
  --input: #E9EAF0;
  --ring: #5D5FEF;

  --chart-1: #5D5FEF;
  --chart-2: #FC7D4C;
  --chart-3: #3CD856;
  --chart-4: #FFA412;
  --chart-5: #884DFF;

  --sidebar: #FFFFFF;
  --sidebar-foreground: #000000;
  --sidebar-primary: #5D5FEF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #884DFF;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #E9EAF0;
  --sidebar-ring: #5D5FEF;

  --info: #2F80ED;
  --success: #27AE60;
  --warning: #EFBE27 ;
  --error: #EB5757;
}


/* .dark {
  --background: #485253;
  --foreground: #FCFCFA;
  --card: #7D837F;
  --card-foreground: #FCFCFA;
  --popover: #7D837F;
  --popover-foreground: #FCFCFA;
  --primary: #CBA68B;
  --primary-foreground: #485253;
  --secondary: #7D837F;
  --secondary-foreground: #FCFCFA;
  --muted: #7D837F;
  --muted-foreground: #FCFCFA;
  --accent: #CBA68B;
  --accent-foreground: #485253;
  --destructive: #E34444;
  --border: #7D837F;
  --input: #7D837F;
  --ring: #CBA68B;
  --chart-1: #CBA68B;
  --chart-2: #7D837F;
  --chart-3: #FCFCFA;
  --chart-4: #A0A5A2;
  --chart-5: #485253;
  --sidebar: #485253;
  --sidebar-foreground: #FCFCFA;
  --sidebar-primary: #CBA68B;
  --sidebar-primary-foreground: #485253;
  --sidebar-accent: #7D837F;
  --sidebar-accent-foreground: #FCFCFA;
  --sidebar-border: #7D837F;
  --sidebar-ring: #CBA68B;
} */

.dark {
  --background: #1E1F2B;
  --foreground: #FFFFFF;

  --card: #2A2B39;
  --card-foreground: #FFFFFF;

  --popover: #2A2B39;
  --popover-foreground: #FFFFFF;

  --primary: #5D5FEF;
  --primary-foreground: #FFFFFF;

  --secondary: #FC7D4C;
  --secondary-foreground: #FFFFFF;

  --muted: #3A3B48;
  --muted-foreground: #E9EAF0;

  --accent: #884DFF;
  --accent-foreground: #FFFFFF;

  --destructive: #EB5757;
  --destructive-foreground: #FFFFFF;

  --border: #3A3B48;
  --input: #3A3B48;
  --ring: #5D5FEF;

  --chart-1: #5D5FEF;
  --chart-2: #FC7D4C;
  --chart-3: #3CD856;
  --chart-4: #FFA412;
  --chart-5: #884DFF;

  --sidebar: #1E1F2B;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #5D5FEF;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #884DFF;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #3A3B48;
  --sidebar-ring: #5D5FEF;

  --info: #2F80ED;
  --success: #27AE60;
  --warning: #EFBE27 ;
  --error: #EB5757;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .p {
    @apply px-4 sm:px-8 md:px-16 lg:px-32;
  }
  .main-input{
    @apply w-full h-12 rounded-lg text-base-content placeholder:text-base-content/40 border-2;
  }
}